.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.bg-register-image {
  background: url(./Resources/register-img.jpg);
  background-position: center;
  background-size: cover;
}

.myImg {
  z-index: -5;
  background-image: url(./Resources/bg-img.jpg);
  height: 91vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

